@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	counter-reset: my-sec-counter;
	font-family: Roboto;
	background-color: #f0f0f5;

	width: 100%;
	height: 100%;
}

p, label {
	font-size: 20pt;
}

a {
  cursor: pointer;
}

a, i {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
}

ul, span {
	padding: 0;
	margin: 0;
}

input {
	padding: 15px;
	font-size: 16pt;
	border: 1px silver solid;
	display: block;
	border-radius: 5px;
	width: 100%;
}

ul {
	list-style-type: none;
}

li {
	list-style: none;
}

.container {
	width: 100vw;
	height: 100vh;
	background-color: #7159c1;

	display: grid;
	grid-template-rows: 10vh;
	grid-gap: 4vh;
}

header {
	margin: 15px 35px 0;
}

header nav {
	display: flex;
  background-color: #fff;
  padding: 5px 0  5px;
  height: auto;
  border: 1px #fff solid;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

header nav h1 a {
	font-size: 40px;
	font-weight: 500;
	color: #000;
  margin-left: 25px;

  transition: font-size .5s ease-in-out;
}

header nav h1 a:hover {
	font-size: 42px;
}

header nav ul {
	display: flex;
}

header nav ul li a span {
  max-width: 0;
  margin: 0 10px 0;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 1s ease-in-out;
}

header nav ul li a:hover span {
  max-width: 10rem;
}

header nav ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-right: 5px;
  padding: 5px;
  font-size: 20px;
  color: #000;
  filter: opacity(90%);
}

header nav ul li a:hover {
  filter: brightness(10%);
  transition-delay: 0.2s;
}

header nav ul li a:before,
header nav ul li a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: transform .3s ease-in-out;
}

header nav ul li a:before {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-radius: 5px;
  transform: scaleY(0);
}
header nav ul li a:after {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 5px;
  transform: scaleX(0);
}

header nav ul li a:hover:before,
header nav ul li a:hover:after {
  transform: scale(1);
}