main {
	overflow: auto;
}

.login-container {
	background-color: #fff;

	border: 1px #fff solid;
	border-radius: 10px;

  margin: 0 35px 15px;
  padding: 20px 35px 20px;
}

.login-container form {
	height: 100%;

	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(4, 25%);
	align-items: end;

	padding: 0 25vh 10vh 25vh;
	margin: 0 35vh 0 35vh;

	background-color: #eeefff;
	filter: brightness(95%);
	border: 1px #eeefff solid;
	border-radius: 10px;
}

.login-container form h1 {
	justify-self: center;
}

.login-container form .email input,
.login-container form .password input {
	padding: 2vh;
}

.login-container form button {
	display: block;
	padding: 8px 25px 10px;
	background-color: #3d5bec;
	font-size: 18pt;
	border-radius: 5px;
	border: 3px #3157e2 solid;
	color: white;
	cursor: pointer;
}

.login-container form button:hover,
.login-container form button:focus {
	border: 3px #2157e2 solid;
}

.login-container form:before,
.login-container form:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: transform .3s ease-in-out;
	pointer-events: none;
}

.login-container form:before {
	border-left: 5px solid #7159c1;
	border-right: 5px solid #7159c1;
	border-radius: 10px;
	transform: scaleY(0);
}

.login-container form:after {
	border-top: 5px solid #7159c1;
	border-bottom: 5px solid #7159c1;
	border-radius: 10px;
	transform: scaleX(0);
}

.login-container form:hover {
	filter: brightness(95%);
	transition-delay: 0.2s;
}

.login-container form:hover:before,
.login-container form:hover:after {
	transform: scale(1);
}